{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static  'images/CAIMAN.png' %}" class="rounded img-fluid mx-1 w-100" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body w-100 text-center">
                    <h5 class="cardS2">¿QUIENES SOMOS?</h5>
                    <p class="cardS">FRUTO CAIMAN una tostaduria Somos una tostaduría apasionada por la buena salud y el bienestar de nuestros clientes, con mas de 5 años de vigencia hemos podido crecer como tienda y llegar a un catalogo de productos mucho mas amplio para todo tipo de publico que busque mejorar su regimen alimenticio,  </p>
                    <br>
                    </p>
                    <h5 class="cardS2">¿Nuestro objetivo?</h5>
                    <p class="cardS">
                        Nuestro objetivo principal es brindar a nuestros clientes una experiencia única y memorable. Nos esforzamos por resaltar las características y los perfiles de nuestros locales para que asi puedan tener una buena experiencia. Buscamos constantemente nuevas variedades de frutos, semillas, te, granos de café de todo el mundo para ofrecer una amplia gama de opciones a nuestros clientes.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-6 bg-dark text-white">
                <div class="p-3 border">Más de 100 productos</div>
            </div>
            <div class="col-sm-12 col-md-6 bg-dark text-white">
                <div class="p-3 border">+20 marcas</div>
            </div>
        </div>
    </div>

{% endblock %}